body {
  font-family: "Questrial", sans-serif;
  background: url("../images/dark_tree-01.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0px;
}
/*header*/
h2 #header-h1 {
  font-size: 60px;
}
#header-h1 {
  color: #fff;
}
#header-container {
  background: #3b3b3b;
}

#header {
  text-align: center;
}

.container {
  margin: 0px auto;
}

/*logo*/

#logo {
  padding: 2em 0em 2em 2em;
}

#logo h2 {
  display: block;
  margin-bottom: 0.2em;
  padding: 0.2em 0.2em;
  font-size: 3.5em;
}

#logo a {
  text-decoration: none;
  color: #fff;
}

#logo span {
  text-transform: uppercase;
  font-size: 2em;
  color: rgba(255, 255, 255, 1);
}

#logo span a {
  color: rgba(255, 255, 255, 0.8);
}
/*main*/
.watch {
  margin: auto;
  text-align: center;
}
div #digits {
  font-size: 80px;
  color: white;
}
/*footer*/
footer {
  background-color: #3b3b3b;
}
#copyright {
  overflow: hidden;
  padding: 2em 0em;
  border-top: 20px solid rgba(255, 255, 255, 0.08);
  text-align: center;
}

#copyright p {
  letter-spacing: 1px;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.6);
}

#copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
/*footer icon*/
ul.contact {
  margin: 0;
  padding: 1.5em 0em 0em 0em;
  list-style: none;
}

ul.contact li {
  display: inline-block;
  padding: 0em 0.1em;
  font-size: 1em;
}

ul.contact li span {
  margin: 20px;
  padding: 20px;
}

ul.contact li a {
  color: #fff;
}

ul.contact li a:before {
  display: inline-block;
  background: #4c93b9;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
